{% extends 'base.html.twig' %}

{% block body %}
	<h1 class="mt-0">{{ program.title }}</h1>
	<h3 class="mt-0">Season
		{{ season.number }}</h3>


	Episode
	{{ episode.number }}
	-
	{{ episode.synopsis }}
{% endblock %}
