// assets/styles/global.scss

// customize some Bootstrap variables
$primary: darken(#428bca, 20%);
$secondary: darken(#60788d, 20%);

// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap";

body {
    background-color: rgb(253, 217, 217);
}

img.poster {
    width: 300px;
}